{# layout 호출 #}
{% extends "layout.html" %}

{# 윈도우 창에 표시될 이름 #}
{% block title %}Login{% endblock %} 


{# Header #}

{% block head %}
  {{ super() }}
{% endblock %}


{# Body #}

{% block content %}
	<div class="container-fluid">
	<p class="text-center">
		Welcome to NSHC Minicommunity <small>당신의 새로운 야머</small>
	</p>
	
		
		{# 로그인 화면 #} 
		{% from "_formhelpers.html" import render_field %}
		<form class="form-horizontal">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
				{{ render_field(form.email, class="form-control", placeholder="Email") }}
			</div>
			<div class="form-group">
			<label for="exampleInputPassword1">Password</label>		
              	{{ render_field(form.password, class="form-control", placeholder="Password") }}
          	</div>        
              	{{ render_field(form.next_url, value= url_for('minicommunity.login')) }}

			<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="remember" value="1" onClick="confirmSave(this)" > ID 기억하기
						</label>
					</div>
			</div>
			</div>


			<!-- 로그인 및 회원가입 버튼 --> 
 			<div class="form-group">
 				<div class="col-sm-offset-2 col-sm-10">
 					<button type="submit" name="submit" class="btn btn-success" >로그인</button>
 					
 			<!-- 회원가입 자바스크립트 -->  
      <script type=text/javascript>
  $(function() {
    var submit_form = function(e) {
      if ($('input[name=email]').val() != '') {
        $.ajax({
        	url         : '/member/check_email'
           ,type        : 'POST'
           ,cache       : false
           ,data        : JSON.stringify({
        	   email: $('input[name=email]').val()
             })
           ,contentType : 'application/json; charset=utf-8'
           ,dataType    : 'json'
           ,success     : function(data) {
        	   email = $('input[name=email]').val();
        	   if (data.result) {
        	       
                   $('#register').modal('hide');
                   
                   bootbox.alert(email + '는 사용 가능한 이메일입니다.', function() {
                       $('#register').modal('show');
                	   $('input[name=email_check]').val('Y');
                	   $('input[name=password]').focus().select();
                   
                   });
        	   } else {
        	       $('#register').modal('hide');
                   
                   bootbox.alert(email + '는 이미 사용중입니다. 다른 이메일을 입력하세요.', function() {
                       $('#regist').modal('show');
                	   $('input[name=email]').val('');
                       $('input[name=email]').focus().select();
                   });
        	   }
             }
           ,error: function(result) {
               $('#register').modal('hide');

        	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.', function() {
                   $('#register').modal('show');
        	   });
           }
        });
        
      } else { 
          $('#register').modal('hide');

    	  bootbox.alert('이메일을 넣어주세요.', function() {
              $('#register').modal('show');
              $('input[name=email]').focus();
    	  });
      }
      return false;
    };
        
    $('button#email_check').bind('click', submit_form);
    $('input[name=email]').focus();
  });
</script>

					<!-- 회원가입 자바스크립트 끝-->
					<!-- 회원가입 버튼 클릭시 모달 팝--> 
 					
 					<!-- <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#myModal"> 회원가입하기 </button> -->
 					<a href="{{ url_for('minicommunity.register_member_form') }}" class="btn btn-primary btn-danger" >가입하기</a>
					</div>
				</div>
			</form>	
			</div>
 					

<!--로그인 및 회원가입 끝 -->

<!--개발자정보 -->
		<form class="form-horizontal">
		<div class="col-sm-offset-2 col-sm-10">
		<address>
			<strong>NSHC Inc.</strong><br>
			  55 Gwangjinmal-gil, Uiwang-si, Gyeonggi-do<br>
			  Republic of Korea<br>
			 <abbr title="Phone">P:</abbr> (031) 458-6456
			 <a href="mailto:#">sbpark@nshc.net</a>
			 <a href="mailto:#">polarhee@nshc.net</a>
		</address>
		</div>
		</form>

<!--개발자정보 끝-->


</div>

{% endblock %}
