{# layout 호출 #}
{% extends "layout.html" %}

{# 윈도우 창에 표시될 이름 #}
{% block title %}Login{% endblock %} 


{# Header #}

{% block head %}
  {{ super() }}
{% endblock %}


{# Body #}

{% block content %}
	<div class="container-fluid">
	<h1>Welcome to NSHC Minicommunity<small>당신의 새로운 야머</small></h1>
	
<!-- 공간주기 -->
	<div class="row">
	  <div class="col-md-6 col-md-offset-3"><br><br/></div>
	</div>

	<!-- 로그인 자바스크립트 -->
    <script type="text/javascript">

      function confirmSave(checkbox) {  //이메일 주소 저장하기 버튼 체크  
        var isRemember;

        if (checkbox.checked) {
          isRemember = confirm("이 PC에 로그인 정보를 저장하시겠습니까?");
          
          if (!isRemember) checkbox.checked = false;
        }
      }
      
      function setsave(name, value, expiredays) { // 쿠키에 저장하기
        var today = new Date();
        today.setDate( today.getDate() + expiredays );
        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + today.toGMTString() + ";"
      }
      
      function saveLogin(email){ //이메일 주소 저장하기 
        if (email != "") {
          setsave("email", email, 7);
         } else {
           setsave("email", email, -1);
         }
      }
      
      function getLogin() { //로그인 정보 가져오기 
        var cookie = document.cookie + ";";
        var index = cookie.indexOf("email", 0);
        var val = "";

        if (index != -1) {
          cookie = cookie.substring(index, cookie.length);
          begin = cookie.indexOf("=", 0) + 1;
          end = cookie.indexOf(";", begin);
          val = unescape(cookie.substring(begin, end));
         }
        
        if (val!= "") {
          document.frm.email.value = val;
          document.frm.remember.checked = true;
        }
      
      }
      
      function checkLogin() {  //로그인 확인 
    	if (document.frm.remember.checked) {
    	  saveLogin(document.frm.email.value);
    	}
    	else {    	  
    	  saveLogin("");
    	}
      }
      
      window.onload = getLogin()
    </script>
	
		
		<!-- 로그인 화면 --> 
		{% from "_formhelpers.html" import render_field %}
		<form name="form-horizontal" method="POST" action="#" accept-charset="UTF-8" onSubmit="return checkLogin(this)">
		<div id="login-form">
			<dl class="dl-horizontal">
			<dt>
			<label for="exampleInputEmail1">Email address</label>
			</dt>
			<dd>
				{{ render_field(form.email, class="form-control", placeholder="Email") }}
			</dd>
			<dt>
			<label for="exampleInputPassword1">Password</label>
			</dt>
			<dd>	
              	{{ render_field(form.password, class="form-control", placeholder="Password") }}       
              	{{ render_field(form.next_url, value= url_for('minicommunity.list_anonybbs')) }}
            </dd>
            <dt>
            </dt>
            <dd>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="remember" value="1" onClick="confirmSave(this)" > ID 기억하기
						</label>
					</div>
			</dd>
			<dt>
			</dt>
			<dd>
			<button type="submit" name="submit" class="btn btn-success" >로그인</button>
			<!-- <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#myModal"> 회원가입하기 </button> -->
 			<a href="#" role="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#registerModal">가입하기</a>
			</dl>
				
		</div>
 					
 					
 			<!-- 회원가입 자바스크립트 -->  
      <script type=text/javascript>
  $(function() {
    var email_check_form = function(e) {
//    	alert('hahaha 1');
      if ($('input[name=r_email]').val() != '') {
//    	  alert('if');
        $.ajax({
        	url         : '/member/check_email'
           ,type        : 'POST'
           ,cache       : false
           ,data        : JSON.stringify({
        	   email: $('input[name=r_email]').val()
             })
           ,contentType : 'application/json; charset=utf-8'
           ,dataType    : 'json'
           ,success     : function(data) {
        	   email = $('input[name=r_email]').val();
        	   if (data.result) {
        	       
                   $('#registerModal').modal('hide');
                   
                   bootbox.alert(email + '는 사용 가능한 이메일입니다.', function() {
                       $('#registerModal').modal('show');
                	   $('input[name=r_email_check]').val('Y');
                	   $('input[name=r_password]').focus().select();
                   
                   });
        	   } else {
        	       $('#registerModal').modal('hide');
                   
                   bootbox.alert(email + '는 이미 사용중입니다. 다른 이메일을 입력하세요.', function() {
                       $('#registerModal').modal('show');
                	   $('input[name=r_email]').val('');
                       $('input[name=r_email]').focus().select();
                   });
        	   }
             }
           ,error: function(result) {
               $('#registerModal').modal('hide');

        	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.', function() {
                   $('#registerModal').modal('show');
        	   });
           }
        });
        
      } else { 
//    	  alert('else');
          $('#registerModal').modal('hide');

    	  bootbox.alert('이메일을 넣어주세요.', function() {
              $('#registerModal').modal('show');
              $('input[name=r_email]').focus();
    	  });
      }

      return false;
    };
    
    
    var register_submit_form = function(e) {
        if ($('input[name=r_nickname]').val() != '') {
          $.ajax({
          	url         : '/member/check_nickname'
             ,type        : 'POST'
             ,cache       : false
             ,data        : JSON.stringify({
          	   nickname: $('input[name=r_nickname]').val()
               })
             ,contentType : 'application/json; charset=utf-8'
             ,dataType    : 'json'
             ,success     : function(data) { 
            	nickname = $('input[name=r_nickname]').val();
          	   if (data.result) {
          	       
                     $('#registerModal').modal('hide');
                     
                     bootbox.alert(nickname + '는 사용 가능한 닉네임입니다.', function() {
                         $('#registerModal').modal('show');
                  	   $('input[name=r_nickname_check]').val('Y');
                  	   $('input[name=r_email]').focus().select();
                     
                     });
          	   } else {
          	       $('#registerModal').modal('hide');
                     
                     bootbox.alert(nickname + '는 이미 사용중입니다. 다른 닉네임을 사용하세요.', function() {
                         $('#registerModal').modal('show');
                  	   $('input[name=r_nickname]').val('');
                         $('input[name=r_nickname]').focus().select();
                     });
          	   }
               }
             ,error: function(result) {
                 $('#registerModal').modal('hide');

          	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.', function() {
                     $('#registerModal').modal('show');
          	   });
             }
          });
          
        } else { 
            $('#registerModal').modal('hide');

      	  bootbox.alert('사용자명을 넣어주세요.', function() {
                $('#registerModal').modal('show');
                $('input[name=r_nickname]').focus();
      	  });
        }
        return false;
      };
      
      $('button#nickname_check').bind('click', register_submit_form);
    
        
    $('button#email_check').bind('click', email_check_form);
    $('input[name=r_email]').focus();
  });
</script>

		<!-- 회원가입 자바스크립트 끝-->
		<!-- 회원가입 버튼 클릭시 모달 팝--> 

	</form>	
	</div>

			
		<!-- 회원가입 화면 --> 
		{% from "_formhelpers.html" import render_field %}
			<form class="form-horizontal" action="{{ url_for('minicommunity.register_member') }}" method="POST">


	<!-- 회원가입 모달 -->
	<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">회원가입</h3>
		</div>

		<div class="modal-body">
			<fieldset>
				<!-- 입력창 시작 -->
				<div class="control-group">
					<!-- Nickname -->
					<label class="control-label" for="email">이메일</label>
					<div class="controls">
						{% if member %} 
							{{ render_field(rform.r_email, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.", readOnly="True") }}
						{% else %}
							<div class="input-append">
								{{ render_field(rform.r_email, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.") }}
								<button id="email_check" class="btn btn-primary">중복 확인</button>
								{{ render_field(rform.r_email_check) }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="nickname">닉네임</label>
					<div class="controls">
						{% if member %} 
							{{ render_field(rform.r_nickname, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.", readOnly="True") }} 
						{% else %}
							<div class="input-append">
								{{ render_field(rform.r_nickname, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.") }}
								<button id="nickname_check" class="btn btn-primary">확인</button>
								{{ render_field(rform.r_nickname_check) }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="password">비밀번호</label>
					<div class="controls">
						{% if member %}
							{{ render_field(rform.r_password, class="input-xlarge", placeholder="Password", readOnly="True") }}
						{% else %}
							<div class="input-append">
							{{ render_field(rform.r_password, class="input-xlarge", placeholder="Password") }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="password_confirm">비밀번호 확인</label>
					<div class="controls">
						{% if member %}
							{{ render_field(rform.r_password_confirm, class="input-xlarge", placeholder="Password confirm", readOnly="True") }} 
						{% else %}
							<div class="input-append">
							{{ render_field(rform.r_password_confirm, class="input-xlarge",placeholder="Password confirm") }}
							</div>
						{% endif %}
					</div>
				</div>
			</fieldset>
			<!-- 입력창 끝 -->
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
			<button type="submit" name="submit" class="btn btn-primary">가입</button>
			<!-- <a href="{{ url_for('minicommunity.register_member') }}" class="btn btn-success">가입1</a> -->
		</div>
		</div>
		</div>
	</div>
	<!--회원가입 모달 끝-->
</form>
 					

<!--로그인 및 회원가입 끝 -->

<!-- 공간주기 -->
<div class="row">
  <div class="col-md-6 col-md-offset-3"><br><br/></div>
</div>

<!--개발자정보 -->
		<dl class="dl-horizontal">
			<dt>NSHC Inc.</dt>
			<dd>
			  55 Gwangjinmal-gil, Uiwang-si, Gyeonggi-do, Republic of Korea
			  <br>P: (031) 458-6456
			  <br><a href="mailto:#">sbpark@nshc.net</a> or <a href="mailto:#">polarhee@nshc.net<br/>
			</dd>
		</dl>

<!--개발자정보 끝-->


</div>

{% endblock %}
