{# layout 호출 #}
{% extends "layout.html" %}

{# 윈도우 창에 표시될 이름 #}
{% block title %}Login{% endblock %} 


{# Header #}

{% block head %}
  {{ super() }}
{% endblock %}


{# Body #}

{% block content %}
	<div class="container-fluid">
	<p class="text-center">
		Welcome to NSHC Minicommunity <small>당신의 새로운 야머</small>
	</p>
	
	<!-- 로그인 자바스크립트 -->
    <script type="text/javascript">

      function confirmSave(checkbox) {  //이메일 주소 저장하기 버튼 체크  
        var isRemember;

        if (checkbox.checked) {
          isRemember = confirm("이 PC에 로그인 정보를 저장하시겠습니까?");
          
          if (!isRemember) checkbox.checked = false;
        }
      }
      
      function setsave(name, value, expiredays) { // 쿠키에 저장하기
        var today = new Date();
        today.setDate( today.getDate() + expiredays );
        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + today.toGMTString() + ";"
      }
      
      function saveLogin(email){ //이메일 주소 저장하기 
        if (email != "") {
          setsave("email", email, 7);
         } else {
           setsave("email", email, -1);
         }
      }
      
      function getLogin() { //로그인 정보 가져오기 
        var cookie = document.cookie + ";";
        var index = cookie.indexOf("email", 0);
        var val = "";

        if (index != -1) {
          cookie = cookie.substring(index, cookie.length);
          begin = cookie.indexOf("=", 0) + 1;
          end = cookie.indexOf(";", begin);
          val = unescape(cookie.substring(begin, end));
         }
        
        if (val!= "") {
          document.frm.email.value = val;
          document.frm.remember.checked = true;
        }
      
      }
      
      function checkLogin() {  //로그인 확인 
    	if (document.frm.remember.checked) {
    	  saveLogin(document.frm.email.value);
    	}
    	else {    	  
    	  saveLogin("");
    	}
      }
      
      window.onload = getLogin()
    </script>
	
		
		<!-- 로그인 화면 --> 
		{% from "_formhelpers.html" import render_field %}
		<form name="form-horizontal" method="POST" action="#" accept-charset="UTF-8" onSubmit="return checkLogin(this)">
		<div id="login-form" class="col-sm-offset-2 col-sm-10">
			<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
				{{ render_field(form.email, class="form-control", placeholder="Email") }}
			</div>
			<div class="form-group">
			<label for="exampleInputPassword1">Password</label>		
              	{{ render_field(form.password, class="form-control", placeholder="Password") }}
          	</div>        
              	{{ render_field(form.next_url, value= url_for('minicommunity.login')) }}

			<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="remember" value="1" onClick="confirmSave(this)" > ID 기억하기
						</label>
					</div>
			</div>
			</div>


			<!-- 로그인 및 회원가입 버튼 --> 
 			<div class="form-group">
 				<div class="col-sm-offset-2 col-sm-10">
 					<button type="submit" name="submit" class="btn btn-success" >로그인</button>
 					
 			<!-- 회원가입 자바스크립트 -->  
      <script type=text/javascript>
  $(function() {
    var submit_form = function(e) {
      if ($('input[name=email]').val() != '') {
        $.ajax({
        	url         : '/member/check_email'
           ,type        : 'POST'
           ,cache       : false
           ,data        : JSON.stringify({
        	   email: $('input[name=email]').val()
             })
           ,contentType : 'application/json; charset=utf-8'
           ,dataType    : 'json'
           ,success     : function(data) {
        	   email = $('input[name=email]').val();
        	   if (data.result) {
        	       
                   $('#register').modal('hide');
                   
                   bootbox.alert(email + '는 사용 가능한 이메일입니다.', function() {
                       $('#register').modal('show');
                	   $('input[name=email_check]').val('Y');
                	   $('input[name=password]').focus().select();
                   
                   });
        	   } else {
        	       $('#register').modal('hide');
                   
                   bootbox.alert(email + '는 이미 사용중입니다. 다른 이메일을 입력하세요.', function() {
                       $('#regist').modal('show');
                	   $('input[name=email]').val('');
                       $('input[name=email]').focus().select();
                   });
        	   }
             }
           ,error: function(result) {
               $('#register').modal('hide');

        	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.', function() {
                   $('#register').modal('show');
        	   });
           }
        });
        
      } else { 
          $('#register').modal('hide');

    	  bootbox.alert('이메일을 넣어주세요.', function() {
              $('#register').modal('show');
              $('input[name=email]').focus();
    	  });
      }
      return false;
    };
    
    
    var register_submit_form = function(e) {
        if ($('input[name=nickname]').val() != '') {
          $.ajax({
          	url         : '/member/check_nickname'
             ,type        : 'POST'
             ,cache       : false
             ,data        : JSON.stringify({
          	   username: $('input[name=nickname]').val()
               })
             ,contentType : 'application/json; charset=utf-8'
             ,dataType    : 'json'
             ,success     : function(data) { 
          	   username = $('input[name=nickname]').val();
          	   if (data.result) {
          	       
                     $('#regist').modal('hide');
                     
                     bootbox.alert(username + '는 사용 가능한 아이디입니다.', function() {
                         $('#regist').modal('show');
                  	   $('input[name=nickname_check]').val('Y');
                  	   $('input[name=email]').focus().select();
                     
                     });
          	   } else {
          	       $('#regist').modal('hide');
                     
                     bootbox.alert(username + '는 이미 사용중입니다. 다른 아이디를 사용하세요.', function() {
                         $('#regist').modal('show');
                  	   $('input[name=nickname]').val('');
                         $('input[name=nickname]').focus().select();
                     });
          	   }
               }
             ,error: function(result) {
                 $('#register').modal('hide');

          	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.', function() {
                     $('#register').modal('show');
          	   });
             }
          });
          
        } else { 
            $('#register').modal('hide');

      	  bootbox.alert('사용자명을 넣어주세요.', function() {
                $('#register').modal('show');
                $('input[name=nickname]').focus();
      	  });
        }
        return false;
      };
      
      $('button#nickname_check').bind('click', register_submit_form);
      //$('input[name=nickname]').focus();
    
        
    //$('button#email_check').bind('click', submit_form);
    $('input[name=email]').focus();
  });
</script>

					<!-- 회원가입 자바스크립트 끝-->
					<!-- 회원가입 버튼 클릭시 모달 팝--> 
 					
 					<!-- <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#myModal"> 회원가입하기 </button> -->
 					<a href="#" role="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#registerModal">가입하기</a>
					</div>
				</div>
			</form>	
			</div>
			
			{# 회원가입 화면 #} 
		{% from "_formhelpers.html" import render_field %}
			<form class="form-horizontal" action='{{ url_for('minicommunity.register_member') }}' method="POST">
	<!-- 회원가입 모달 -->
	<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">회원가입</h3>
		</div>

		<div class="modal-body">
			<fieldset>
				<!-- 입력창 시작 -->
				<div class="control-group">
					<!-- Nickname -->
					<label class="control-label" for="email">이메일</label>
					<div class="controls">
						{% if member %} 
							{{ render_field(rform.email, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.", readOnly="True") }}
						{% else %}
							<div class="input-append">
								{{ render_field(rform.email, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.") }}
								<button id="email_check" class="btn btn-primary">중복 확인</button>
								{{ render_field(rform.email_check) }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="nickname">닉네임</label>
					<div class="controls">
						{% if member %} 
							{{ render_field(rform.nickname, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.", readOnly="True") }} 
						{% else %}
							<div class="input-append">
								{{ render_field(rform.nickname, class="input-xlarge", placeholder="문자와 숫자로 공백없이 입력해주세요.") }}
								<button id="nickname_check" class="btn btn-primary">확인</button>
								{{ render_field(rform.nickname_check) }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="password">비밀번호</label>
					<div class="controls">
						{% if member %}
							{{ render_field(rform.password, class="input-xlarge", placeholder="Password", readOnly="True") }}
						{% else %}
							<div class="input-append">
							{{ render_field(rform.password, class="input-xlarge", placeholder="Password") }}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="password_confirm">비밀번호 확인</label>
					<div class="controls">
						{% if member %}
							{{ render_field(rform.password_confirm, class="input-xlarge", placeholder="Password confirm", readOnly="True") }} 
						{% else %}
							<div class="input-append">
							{{ render_field(rform.password_confirm, class="input-xlarge",placeholder="Password confirm") }}
							</div>
						{% endif %}
					</div>
				</div>
			</fieldset>
			<!-- 입력창 끝 -->
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
			<button type="submit" name="submit" class="btn btn-primary">가입</button>
			<!-- <a href="{{ url_for('minicommunity.register_member') }}" class="btn btn-success">가입</a> -->
		</div>
		</div>
		</div>
	</div>
	<!--회원가입 모달 끝-->
</form>
 					

<!--로그인 및 회원가입 끝 -->

<!--개발자정보 -->
		<form class="form-horizontal">
		<div class="col-sm-offset-2 col-sm-10">
		<address>
			<strong>NSHC Inc.</strong><br>
			  55 Gwangjinmal-gil, Uiwang-si, Gyeonggi-do<br>
			  Republic of Korea<br>
			 <abbr title="Phone">P:</abbr> (031) 458-6456
			 <a href="mailto:#">sbpark@nshc.net</a>
			 <a href="mailto:#">polarhee@nshc.net</a>
		</address>
		</div>
		</form>

<!--개발자정보 끝-->


</div>

{% endblock %}
