{# layout 호출 #}
{% extends "layout.html" %}

{% block title %}삭제 요청 게시글 관리{% endblock %} 
{# Header #}
{% block head %}
{% endblock %}


{# Body #}
{% block content %}

{% if adminyn == 'Y' %} 



<h1>great!</h1>

    

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
	    <td style="text-align:center; vertical-align:middle"> <strong> SNODATA </strong> </td>
	    <td style="text-align:center; vertical-align:middle"> <strong> CONTENTDATA </strong> </td>
    	<td style="text-align:center; vertical-align:middle"> <strong> SNOCOUNT </strong> </td>
    	<td style="text-align:center; vertical-align:middle"> <strong> 삭제 </strong> </td>
    </tr>
    {% for requestedData in delreqList %}
    <tr>
	    <td style="text-align:center; vertical-align:middle"> {{ requestedData['SNODATA'] }} </td>
	    <td style="vertical-align:middle"> {{ requestedData['CONTENTDATA'] }}  </td>
    	<td style="text-align:center; vertical-align:middle"> {{ requestedData['SNOCOUNT'] }} </td>
    	<td style="text-align:center; vertical-align:middle">
    		<button id="delreqOK" type="button" class="btn btn-primary"> 삭제 </button> 
    	</td>
    </tr>
    {% endfor %}
  </table>
</div>


{% else %}


<h1>buy me a cup of coffee, then I will show you what's on this page.</h1>
{% endif %}



{% endblock %}